body {
    display: flex;
    margin: 0px;
    padding-top: 70px;
}

.header {
    background: #AB2A19;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    padding-left: 100px;
    font-family: sans-serif;
}

.main {
    display: flex;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.eachProduct {
    background: #D34735;
}

.fullForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #3AD886;
    width: 30vw;
    height: 40vh;
    border-radius: 3%;
}

.formNoImage {
    width: 250px;
    height: 100px;
}

.formInputs {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.inputFields {
    width: 355px;
}

.buttons {
    display: flex;
    width: 89%;
    justify-content: space-between;
}